.Person {
    width: 30%;
    height: 100px;
    margin: 16px;
    border: 10px solid white;
    box-shadow: 0 2px 3px #ccc;
    padding: 16px;
    text-align: auto;
    
}

@media (min-width: 500px) {
    .Person {
        width: 450px;
    }
}